[Unit]
Description=Policyd Go daemon for Postfix
After=network.target

[Service]
Type=simple
PIDFile=/run/policyd.pid
ExecStart=/opt/filter/go-policyd
ExecReload=/bin/kill -HUP $MAINPID

#User=vscan
#Group=vscan
WorkingDirectory=/opt/filter
#LimitNOFILE=100000
#LimitNOFILESoft=100000

Restart=on-failure
RestartSec=10
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target

# cp policyd.service /etc/systemd/system/
# systemctl daemon-reload
# systemctl enable policyd.service
# systemctl start policyd.service
# systemctl status policyd.service